/* 
    Create Casting Page Style
*/

@import '../../../styles/mixin';

.container{
    padding: 30px;
    height: 100%;
    width: 100%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid rgba($color: #000000, $alpha: 0.1);

    .button_container {
        margin-top: 30px;
        display: flex;

        .draft_button {
            margin-right: 15px;
            border: 2px solid black !important;
            background-color: white !important;
            color: black !important;
        }

        .publish_button {
            margin-left: 15px;
            border: 2px solid black !important;
            background-color: black !important;
            color: white !important;
        }
    }
}