@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.chart_container {
    background-color: white;
    box-shadow: 0 0 16px 0 alpha-black(0.08);
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    user-select: none;

    .chart_header {
        @include make-row();
        justify-content: space-between;
        align-content: space-between;


        .chart_title {
            @include primary-font(bold);
            color: #67758d;
            font-size: 1.25rem;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }
    
        .range_options {
            display: flex;
            align-items: center;
            z-index: 70;
            margin-bottom: 1rem;

            div {
                font-size: 0.875rem;
                color: alpha-black(0.5);
                @include primary-font(reguler);
                padding: 0 1rem;
                cursor: pointer;
                
                &.selected {
                    color: $primary_color;
                    @include primary-font(bold);
                    user-select: none !important;
                    cursor: default !important;
                    display: flex;
                    flex-direction: column;
                    transform: translateY(4.5px );
                
                    &::after {
                        content: ' ';
                        background-color: #00aeef;
                        width: 100%;
                        height: 3px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .chart {
        flex-grow: 1;
    }

    .chart_legend {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .legend_text  {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        @include primary-font(reguler);
        color: #67758d;
        font-size: 0.875rem;
        padding: 0 0.5rem;
    }

    .circle {
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        margin: 0 0.5rem;

        &_blue {
            @extend .circle;

            background-color: #00aeef;
        }

        &_purple {
            @extend .circle;

            background-color: #7b368f;
        }
    }
}