@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';
@import 'src/styles/qgrid';

.container {
    width: 130px;
    height: 170px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #b1bfcf;
    margin: 3px;

    .index_container {
        width: 25px;
        height: 25px;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        @include primary-font(bold);
        color: white;

        span {
            margin: 0 auto;
        }
    }

    .cross_container {
        position: absolute;
        height: 34px;
        width: 34px;
        top: 0;
        right: 0;
        cursor: pointer;

        .cross {
            @include center;

            .line {
                width: 20px;
                height: 3px;
                background-color: white;
                position: absolute;
                top: -1.5px;
                left: -10px;
                z-index: 20;

                &1 {
                    @extend .line;
                    transform: rotate(-45deg);
                }
                
                &2 {
                    @extend .line;
                    transform: rotate(45deg);
                }
            }

            .shadow {
                width: 20px;
                height: 3px;
                background-color: alpha-black(0.1);
                position: absolute;
                top: -1.5px;
                left: -10px;
                z-index: 10;

                &1 {
                    @extend .shadow;
                    transform: rotate(-45deg);
                    -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.5);
                    box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.5);
                }

                &2 {
                    @extend .shadow;
                    transform: rotate(45deg);
                    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
                }
            }
        }
    }
}