@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.wrapper{
    flex-grow: 1;
}

.fallback {
    background-color: black;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;

    span {
        @include center;
        @include primary-font(medium);
        color: white;
    }
}

.container {
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
}

.iframe {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
}