@import "src/styles/variable";
@import "src/styles/mixin";
@import "src/styles/function";

.dashboard_container {
  padding: 1rem;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #eeeeee;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    > svg {
      cursor: pointer;
    }
  }

  .mainContent {
    display: flex;
    flex-grow: 1;
    overflow: scroll;
  }
}
