@import "src/styles/variable";
@import "src/styles/mixin";
@import "src/styles/function";

.dashboard_container {
  padding: 2rem 2rem 0 2rem;
  height: 100%;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #eeeeee;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    > svg {
      cursor: pointer;
    }
  }
}
