.headerContainer {
  background-color: #eeeeee;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    font-family: roboto;
    color: rgba($color: #000000, $alpha: 0.85);
    font-size: 20px;
    font-weight: 500;
  }
}

.fillterContainer {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .buttonAdd {
    display: flex;
    align-items: center;
    background-color: #c60808;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;

    > span {
      font-family: roboto;
      color: #ffffff;
      font-size: 14px;
      margin-left: 10px;
    }
  }

  .fillter {
    display: flex;
    align-items: center;
    .inputSelect {
      width: 170px;
      margin-right: 15px;
      border-radius: 5px;
    }
  }
}

.table {
  padding: 0 30px;
}

.inputSelect {
  width: 200px;
  margin-right: 15px;
  border-radius: 5px;
}

.labelCustomContainer {
  width: 100%;
  > .label {
    font-family: roboto;
    font-size: 14px;
    line-height: 30px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;

  > button {
    outline: none;
    padding: 5px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    &.cancel {
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      color: rgba(0, 0, 0, 0.85);
    }

    &.save {
      background-color: #c60808;
      color: #ffffff;
      border: none;
    }
  }
}
