@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.container {
    width: 100%;

    .brief_image {
        width: 100%;
        max-width: 400px;
    }

    .footer {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .counter {
            @include primary-font(medium);
        }

        .button_container {
            display: flex;

            .button {
                width: 36px;
                height: 36px;
                display: flex;
                align-items: center;
                margin: 0 5px;
                cursor: pointer;
                border: 1px solid alpha-black(0.25);
    
                &.active {
                    border: 1px solid $primary_color
                }

                svg {
                    margin: 0 auto;
                }
            }
        }
        
    }
}