.public-DraftEditorPlaceholder-root {
    color: #acacac !important;
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    font-style: italic !important;
    font-size: 0.8rem !important;
}