@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';
@import 'src/styles/qgrid';

.container {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .staff_pick_outer_wrapper {
        display: flex;
        padding-top: 30px;

        .preview_container {
            padding-right: 15px;
            @include primary-font(reguler);
            font-size: 0.75rem;
        }

        .staff_pick_inner_wrapper {
            flex-grow: 1;

            .save_button {
                margin-top: 30px;
            }

            .note {
                @include primary-font(reguler);
                font-style: italic;
                font-size: 0.75rem;
                color: black;
                margin-top: 20px;
            }
        }
    }
}
