.container {
  flex-direction: column;
}

.headerContainer {
  background-color: #eeeeee;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    font-family: roboto;
    color: rgba($color: #000000, $alpha: 0.85);
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    flex-wrap: wrap;
  }

  .filter {
    display: flex;
    align-items: center;

    .inputSelect {
      width: 170px;
      margin-right: 15px;
    }
  }
}

.akumulasiRelease {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

  > span {
    font-family: roboto;
  }

  .akumulasi {
    font-weight: 500;
    color: #c60808;
  }
}

.tableWraper {
  width: 100%;
  display: flex;

  .table {
    flex: 1;
  }
}
