@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.filter_container {
    @include make-row();
    padding-bottom: 2rem;
    align-items: center;

    span {
        @include primary-font(reguler);
        font-size: 0.875rem;
        @include make-col(1);
        text-align: right;
        flex-grow: 1;
        padding-right: 1rem;
    }
}

.select {
    
    &_sort {
        @include make-col(2);
        max-width: 200px;
    }
    &_status {
        @include make-col-gutter(2, 1rem, 0rem);
        max-width: 131px;
    }
}