.headerContainer {
  background-color: #eeeeee;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    font-family: roboto;
    color: rgba($color: #000000, $alpha: 0.85);
    font-size: 20px;
    font-weight: 500;
  }

  .filter {
    display: flex;
    align-items: center;

    .inputSelect {
      width: 170px;
      margin-right: 15px;
    }

    .inputDate {
      border: 1px solid salmon !important;
    }
  }
}

.exportReport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: roboto;
  width: 100%;
  padding: 20px 30px;

  .title {
    text-align: center;
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .note {
    text-align: center;
    color: #616161;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .filterContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;

    .filter {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin-right: 20px;

      > span {
        font-family: roboto;
        font-size: 14px;
        color: rgba($color: #000000, $alpha: 0.85);
        line-height: 22px;
      }
    }

    .download {
      background-color: #c60808;
      height: 45px;
      padding: 13px 17px;
      display: flex;
      align-items: center;
      cursor: pointer;

      > span {
        color: #ffffff;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}
