.container {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  // padding-bottom: 50px;

  .lineContainer {
    display: flex;
    flex: 1;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;

    .planning {
      flex: 1;
    }

    .chart {
      display: flex;
      flex: 2;
      flex-grow: 1;
      align-items: stretch;
      background-color: #ffffff;
      margin-left: 10px;
      border-radius: 10px;
    }
  }
}
