.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .lineContainer {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;

    .planning {
      flex: 1;
    }

    .chart {
      flex: 2;
      background-color: #ffffff;
      margin-left: 10px;
      border-radius: 10px;
      height: 100%;
    }
  }
}
