@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.container{
    width: 500px;
    margin-left: 2rem;
}

.tagline{
    @include primary-font(bold);
    font-size: 0.875rem;
    text-transform: uppercase;
    color: $primary-color;
}

.field{
    font-family: Montserrat;
    font-weight: 400;
    width: 60px;
}

.field_container {
    display: flex;
    align-items: flex-start;
    margin: 13px 0;
}

.input{
    margin-left: 20px;
    width: 300px;
    height: 45px;
}

.input::placeholder {
    color: #acacac;
    font-style: italic;
}

.upload{
    margin-top: 30px;
    margin-bottom: 20px;
}

.upload_photo{
    box-sizing: border-box;
    width: 350px;
    border: 2px dashed #e9eff4;
    height: 100px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #00aeef;
    font-family: Montserrat;
    font-weight: 600;
    cursor: pointer;
}

.note{
    font-style: italic;
    font-size: 0.6125rem;
    @include primary-font(reguler);
    color: #878787;
}

.button{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    border-top: 1px solid alpha-black(0.1);
    padding: 2rem 0;
}

.btnSave{
    border: 2px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    width: 165px;
    height: 40px;
    @include primary-font(bold);
    font-size: 0.875rem;
    letter-spacing: 1px;
    box-sizing: border-box;
    cursor: pointer;
  }

.btnPublish{
    margin-left: 20px;
    border: none;
    background-color: $primary-color;
    color: #fff;
    width: 165px;
    height: 40px;
    font-size: 0.875rem;
    letter-spacing: 1px;
    @include primary-font(bold);
    cursor: pointer;
  }