/* 
    Talent Detail > Right Side component style
*/ 

.container{
    margin-left: 10px;
}

.flex{
    display: flex;
    margin: 10px 0;
}

.attribute{
    width: 100px;
    font-family: Montserrat;
    font-weight: 500;
}

.profile{
    display: flex;
    margin-top: 20px;
}

.fullname{
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.username{
    color: #858585;
    font-family: Montserrat;
}

.profile_pic{
    width: 100px;
}

.name{
    align-self: flex-end;
    margin-left: 10px;
}

.address{
    display: flex;
    margin: 20px 0;
}

.blueBold{
    color: #00aeef;
    font-family: Montserrat;
    font-weight: 500;
    margin-left: 5px;
}

.location{
    display: flex;
    text-transform: uppercase;
}

.phone{
    display: flex;
    margin-left: 50px;
}

.email{
    display: flex;
    margin-left: 50px;
}

.desc{
    display: flex;
    font-family: Montseraat;
    text-decoration: italic;
    padding: 10px;
    box-shadow: 0px 0px 6px 0px rgba(201,191,201,1);
    width: 450px;
}

.description{
    font-family: Montseraat;
    font-style: italic;
    width: 400px;
    margin: 0 10px;
}

.require{
    color : #858585
}