@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.promo_container {
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 16px 0 alpha-black(0.1);
    margin-bottom: 1rem;

    .promo_header {
        .selector {
            float: right;
            display: inline-flex;

            span {
                font-size: 0.875rem;
                color: alpha-black(0.5);
                @include primary-font(reguler);
                padding: 0 1rem;
                cursor: pointer;
                
                &.selected {
                    color: $primary_color;
                    @include primary-font(bold);
                    user-select: none !important;
                    cursor: default !important;
                    display: flex;
                    flex-direction: column;
                
                    &::after {
                        content: ' ';
                        background-color: #00aeef;
                        width: 100%;
                        height: 3px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .promo_subheader {
        @include primary-font(reguler);
        font-size: 0.75rem;
        color: #6c6c6c;
    }

    .promo_list {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        overflow: hidden;
        cursor: grab;

        .card_container {
            padding: 10px 10px 30px 10px;
        }

        &.grabbing {
            cursor: grabbing !important;
        }
    }
}