.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .lineContainer {
    display: flex;
    flex: 1;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
    flex-grow: 1;

    .planning {
      flex: 1;
      margin: 0;
      height: 100%;
    }

    .chart {
      flex: 2;
      background-color: #ffffff;
      margin-left: 10px;
      border-radius: 10px;
    }
  }
}
