@import'src/styles/mixin';
@import'src/styles/variable';

.container {
    @include primary-font(bold);
    color: white;
    font-size: 0.875rem;
    
    background-color: $primary-color;
    border: none;
    width: 75%;
    height: 4rem;
    margin: 0.5rem auto;

    cursor: pointer;
}