@import "src/styles/mixin";
@import "src/styles/variable";

.container {
  @include primary-font(bold);
  color: white;
  font-size: 0.875rem;

  background-color: #c60808;
  border: none;
  width: 75%;
  height: 3rem;
  margin: 0.5rem auto;

  cursor: pointer;
}
