@import '../../../../styles/mixin';

.container{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    width: 25% ;
    font-size: 0.8rem;
    @include secondary-font(reguler);

    .thumbnail_container {
        width: 100%;
        padding-bottom: 37.5%;
        background-color: black;
        position: relative;
        overflow: hidden;
        color: white;
        display: flex;
        align-items: center;

        span {
            @include center;
        }
        
        img {
            @include center;
            max-width: 100%;
            max-height: 100%;
        }
    }
    
}

.title{
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container_icon{
    margin-bottom: 0.5rem;
}

.blue {
    color: #00aeef;
    margin: 0 0.5rem;
}