/**
 * Auth Background Component Style
 */
.container {
  background: #101633;
  width: 100vw;
  height: 100vh;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #ffffff;
  max-width: 400px;
  min-width: 320px;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    > span {
      color: #201d1d;
      margin: 5px 0;
      font-family: roboto;
      font-size: 12px;
      font-weight: 500;
    }
  }

  > .footer {
    color: #9e9e9e;
    font-size: 12px;
    font-family: roboto;
    text-align: center;
  }
}

.logo {
  margin: 47px auto 32px auto;
}
