$break-xsmall: 0px;
$break-small: 480px;
$break-medium: 720px;
$break-large: 960px;
$break-xlarge: 1200px;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'roboto';

$primary-color: #00aaef;

$open-sidebar-width-sm: 180px;
$open-sidebar-width-md: 200px;
$open-sidebar-width-lg: 220px;
$open-sidebar-width-xl: 240px;

$closed-sidebar-width-sm: 38px;
$closed-sidebar-width-md: 40px;
$closed-sidebar-width-lg: 45px;
$closed-sidebar-width-xl: 50px;

$header-height: 60px;