@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';
   
.footer {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    margin-top: 39px;
    justify-content: space-between;
}