.container {
  display: flex;
  padding: 21px 30px;
  align-items: center;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
  width: 1.2rem;
  height: 1.2rem;
}

.clock {
  color: #757575;
  font-family: roboto;
}
