@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';
@import 'src/styles/qgrid';

.container {
    padding-bottom: 50px;
}

.add_container {
    position: fixed;
    bottom: 0;
    height: 80px;
    background-color: white;
    box-shadow: 0 -2px 4px 0 alpha-black(0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    @include respond-to(xl) {
        left: 10%;
        width: 80%;
    }
    @include respond-to(lg) {
        left: 10%;
        width: 80%;
    }
    @include respond-to(md) {
        left: 10%;
        width: 80%;
    }
    @include respond-to(sm) {
        left: 5%;
        width: 90%;
    }
    @include respond-to(xs) {
        left: 0;
        width: 100%;
    }

    .add_counter {
        @include primary-font(bold);
        font-size: 0.875rem;
        letter-spacing: 0.5px;
        color: #a103d2;
    }

    .add_button {
        background-color: black !important;
        border: none !important;
        color: white !important;
    }
}