@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.scrollable_container {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;
    @include hide-scroll();
    overflow-x: hidden;
}