@import "src/styles/variable";
@import "src/styles/mixin";
@import "src/styles/function";

.dashboard_container {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #eeeeee;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .time_container {
      display: flex;
      align-items: center;

      .time {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }

  .mainContent {
    display: flex;
    flex-grow: 1;
    overflow: scroll;
  }
}
