@import "../../styles/function";
@import "../../styles/mixin";
@import "../../styles/variable";

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  height: 100%;
}

.footer {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  .button {
    background-color: $primary-color;
    width: 170px;
    height: 40px;
    border: none;
    color: #ffffff;
    @include primary-font(bold);
    letter-spacing: 1px;
    cursor: pointer;
  }
}
