@import 'src/styles/mixin';
@import 'src/styles/function';
@import 'src/styles/variable';

.container{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    width: 100%;
}

.filter{
    margin: 0 7px 0 -7px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;

    .searchbar {
        @include respond-to-lower(sm) {
            max-width: 150px;
            min-width: 100px;
        }
        margin: 7px;
        max-width: 320px;
        min-width: 250px;
        flex-grow: 2;
    }

    .select {
        @include respond-to-lower(sm) {
            min-width: 80px;
            max-width: 90px;
        }
        min-width: 100px;
        max-width: 120px;
        margin: 7px;
        flex-grow: 1;
    }

    .range {
        width: 223px;
        margin: 0px 25px 0px 25px;

        div:first-child {
            margin-left: -10px;
        }
    }

    .due_date {
        font-size: 12px !important;
        margin: 7px;
        // width: 330px;
    }

    .input_mini_toggle_container {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        span {
            @include primary-font(medium);
            font-size: 12px;
            margin-left: 5px;

            &.active {
                @include primary-font(semi-bold);
                color: $primary-color;
            }
        }
    }
}

.selectInput{
    width: 10rem;
    margin-left: 2rem;
}

.toggle_container {
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0 auto 0;
    user-select: none;
    cursor: pointer;

    .toggle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #00aeef;
        font-size: 0.875rem;

        span {
            margin-left: 5px;
        }
    }
}