@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';
@import 'src/styles/qgrid';

.container {
    position: relative;
    @include qgrid-cell-wrapper(0, 30px);
    padding-bottom: 50px;

    @include respond-to(sm) {
        padding-bottom: 10px !important;
    }
    
    @include respond-to(xs) {
        padding-bottom: 10px !important;
    }

    &::after {
        content: ' ';
        width: calc(100% - 30px);
        margin: 0 15px;
        background-color: black;
        height: 2px;
        position: absolute;
        bottom: 0;
    }

    .title {
        display: flex;
        height: 126px;

        @include respond-to(xl) {
            @include qgrid-cell(5, 0, 30px);
        }

        @include respond-to(lg) {
            @include qgrid-cell(7, 0, 30px);
        }

        @include respond-to(md) {
            @include qgrid-cell(7, 0, 30px);
        }

        @include respond-to(sm) {
            @include qgrid-cell(12, 0, 30px);
            height: 146px !important;
            padding-bottom: 20px;
            margin-bottom: 10px;
            border-bottom: 2px solid black;
        }
        
        @include respond-to(xs) {
            @include qgrid-cell(12, 0, 30px);
            height: 146px !important;
            padding-bottom: 20px;
            margin-bottom: 10px;
            border-bottom: 2px solid black;
        }

        .thumbnail {
            width: 224px;
            height: 126px;
            overflow: hidden;
            position: relative;
            background-color: black;
            margin-right: 20px;

            img {
                @include center;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .title_container {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .casting_title {
                @include primary-font(bold);
                font-size: 1rem;
                letter-spacing: 0.5px;
                color: black;
            }

            .casting_production_type {
                @include primary-font(semi-bold);
                letter-spacing: 1px;
                font-size: 0.875rem;
                color: $primary-color;
            }

            .casting_due_date {
                @include primary-font(medium);
                letter-spacing: 0.3px;
                font-size: 0.875rem;
                color: alpha-black(0.6);
                display: flex;

                svg {
                    margin-right: 10px;
                }
            }
        }
    }

    .properties {
        margin: 0 15px;
        height: 126px;

        @include respond-to(xl) {
            @include qgrid-cell(3.5, 0, 30px);
        }

        @include respond-to(lg) {
            display: none;
        }

        @include respond-to(md) {
            display: none;
        }

        @include respond-to(sm) {
            display: none;
        }
        
        @include respond-to(xs) {
            display: none;
        }

        .prop_list {
            font-size: 0.75rem;
            line-height: 21px;
            display: flex;
            
            .type {
                @include primary-font(bold);
                color: $primary-color;
                width: 115px;
            }

            .value {
                @include primary-font(reguler);
                color: alpha-black(0.85);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(100% - 115px);

                .colon {
                    color: $primary-color;
                }
            }
        }
    }

    .description {
        margin: 0 15px;
        line-height: 24px;
        max-height: 120px;
        letter-spacing: 0.3px;
        overflow: hidden;
        position: relative;
        font-size: 0.75rem;

        @include primary-font(reguler);

        @include respond-to(xl) {
            @include qgrid-cell(3.5, 0, 30px);
        }

        @include respond-to(lg) {
            @include qgrid-cell(5, 0, 30px);
        }

        @include respond-to(md) {
            @include qgrid-cell(5, 0, 30px);
        }

        @include respond-to(sm) {
            @include qgrid-cell(12, 0, 30px);
        }
        
        @include respond-to(xs) {
            @include qgrid-cell(12, 0, 30px);
        }

        .more_detail {
            position: absolute;
            bottom: 0;
            right: 0;
            line-height: 24px;
            background-color: white;
            text-decoration: none;
            color: $primary-color;
            letter-spacing: 0.3px;
            padding: 0 30px 0 3px;
        }
    }
}