@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

@mixin text {
    @include primary-font(reguler);
    color: alpha-black(0.5);
    font-size: 0.8rem;
}
.collapsable_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1.5rem;
    cursor: pointer;

    span {
        @include text();
        flex-grow: 1;
        padding-left: 1rem;
    }
}

.collapsable_container {
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;

    a {
        @include text();
        text-decoration: none;
        padding-bottom: 1.5rem;
    }
}