@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.editor_container {
    @include make-col(9);
    height: 100%;
    // overflow-y: scroll;
    // @include hide-scroll;
    padding-left: 2rem;
    border-left: 2px solid alpha-black(0.08);
}