.container {
  margin: 10px 0px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 1rem;
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;

  .headerStatus {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    > span {
      font-family: roboto;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  .mainContainer {
    padding: 10px 2rem;
    display: flex;
    align-items: center;
    flex-grow: 2;

    .dataWrapper {
      flex: 1;

      > span {
        color: #757575;
        font-family: roboto;
        font-size: 1.5rem;
        line-height: 24px;
        margin-bottom: 5px;
      }

      > div {
        display: flex;
        align-items: center;
        > h1 {
          color: #212121;
          font-size: 2rem;
          font-family: roboto;
          font-weight: 500;
          margin-right: 5px;
          margin: 0;
        }
      }

      > h1 {
        color: #212121;
        font-size: 2rem;
        font-family: roboto;
        font-weight: 500;
        margin: 0;

        &.type {
          text-transform: uppercase;
        }

        &.status {
          color: #ffffff;
          border-radius: 100px;
          padding: 0px 1rem;
          font-size: 1.5rem;
          width: fit-content;
          margin-top: 10px;
        }
      }
    }
  }
}
