.container {
  width: 100%;
  max-width: 600px;
  font-family: roboto;
  padding: 20px 30px;
  font-family: roboto;

  .releaseBySystem {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 16px;

    .shiftContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;

      .shiftWrapper {
        width: 32%;
        display: flex;
        flex-direction: column;
        .shift {
          width: 100%;
          color: #616161;
          font-size: 14px;
          flex-wrap: nowrap;
          font-family: roboto;
          margin-bottom: 10px;
        }

        .amount {
          width: 100%;
          font-size: 20px;
          color: #201d1d;
          font-family: roboto;
        }
      }
    }

    .totalReleaseBySystem {
      border-left: 1px solid #bdbdbd;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 40px;
      .shift {
        width: 100%;
        color: #201d1d;
        font-size: 14px;
        flex-wrap: nowrap;
        font-family: roboto;
        margin-bottom: 10px;
      }

      .amount {
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        color: #201d1d;
        font-family: roboto;
      }
    }
  }

  .actualRelease {
    display: flex;
    flex-direction: column;

    .input {
      border: 1px solid #d9d9d9;
      padding: 8px 12px;
      font-family: roboto;
      font-size: 16px;
      border-radius: 4px;
      margin: 16px 0;
    }
    .buttonContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      > button {
        outline: none;
        padding: 5px 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        &.cancel {
          background-color: #ffffff;
          border: 1px solid #d9d9d9;
          color: rgba(0, 0, 0, 0.85);
        }

        &.save {
          background-color: #c60808;
          color: #ffffff;
          border: none;
        }
      }
    }
  }
}
