.container {
  margin: 10px 0px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;

  .headerStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    > span {
      font-family: roboto;
      font-weight: 500;
      font-size: 16px;
    }
  }

  .mainContainer {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .dataWrapper {
      width: 50%;

      &.type {
        width: 100%;
        border-bottom: 1px solid #bdbdbd;
        padding-bottom: 16px;
        margin-bottom: 16px;
      }

      > span {
        color: #757575;
        font-family: roboto;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
      }

      > div {
        display: flex;
        align-items: center;
        > h1 {
          color: #212121;
          font-size: 40px;
          font-family: roboto;
          font-weight: 500;
          margin-right: 5px;
        }
      }

      > h1 {
        color: #212121;
        font-size: 40px;
        font-family: roboto;
        font-weight: 500;

        &.type {
          text-transform: uppercase;
        }

        &.status {
          color: #ffffff;
          border-radius: 100px;
          padding: 4px 14px;
          font-size: 28px;
          width: fit-content;
        }
      }
    }
  }
}
