@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';
@import 'src/styles/button';

@mixin field-width {
    max-width: 250px;
    width: 100%;
}

.form_container {
    @include make-row();

    .label {
        @include make-col(3);
        @include primary-font(reguler);
        padding: 1rem;
        font-size: 0.8rem;
    }

    .input_container {
        @include make-col(9);

        .add_field {
            @extend .button__dashed;
            @include field-width();
        }
    }

    .input_row {
        @include make-row();
        margin-top: 1rem;
        align-items: center;

        input {
            border: 2px solid #e9eff4;
            @include field-width();
            height: 3rem;
            padding: 1rem;
            @include primary-font(medium);
            font-size: 0.8rem;
    
            &::placeholder {
                font-style: italic;
                color: #acacac;
            }
        }
    
        .remove_button {
            @extend .remove_button;
            margin-right: 0 !important;
            margin-left: 1rem;
            height: 2rem !important;
            width: 2rem !important;
            border-color: alpha-black(0.25) !important;
            background-color: white;

            div {
                background-color: alpha-black(0.25) !important;
            }
        }
        
        .color_picker_container {
            margin-left: calc(-3.25rem - 2px);
            margin-right: 1rem;
        }
    }

    .submit_button {
        @extend .button__white;
        margin-top: 1rem;
    }
}