.container {
  font-family: roboto;
  padding: 20px 30px;

  .buttonAdd {
    display: flex;
    align-items: center;
    background-color: #c60808;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    width: 180px;
    margin-top: 15px;

    > span {
      font-family: roboto;
      color: #ffffff;
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

.inputSelect {
  width: 200px;
  margin-right: 15px;
  border-radius: 5px;
}

.labelCustomContainer {
  width: 100%;
  > .label {
    font-family: roboto;
    font-size: 14px;
    line-height: 30px;
  }
}

> button {
  outline: none;
  padding: 5px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  &.cancel {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.85);
  }

  &.save {
    background-color: #c60808;
    color: #ffffff;
    border: none;
  }
}
