@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.user_classification_container {
    @include make-row();
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 16px 0 alpha-black(0.08);
    padding: 2rem 0;
    margin-bottom: 1rem;
}

.general_container {
    @include make-col-less(3, 1rem);
    height: 15.5rem;
    border-right: 1px solid #f2f2f2;
    padding: 0 2rem;

    .legend_item {
        display: inline-flex;
        white-space: nowrap;
        flex-wrap: wrap;
        margin-left: 0.7rem;

        .legend_text {
            @include primary-font(reguler);
            font-size: 0.875rem;
        }
    
        .legend_diamond {
            @include primary-font(reguler);
            font-size: 0.75rem;
            color: #67758d;
            margin: 0 0.5rem;
        }
    
        .legend_percentage {
            @include primary-font(semi-bold);
            font-size: 0.875rem;
            color: #4a4a4a;
        }
        
        .legend_value {
            @include primary-font(semi-bold);
            font-size: 1.25rem;
            color: #67758d;
            width: 100%;
            margin: 0.5rem 0;
        }
    }
}

.middle_label {
    @include primary-font(bold);
    font-size: 1.25rem;
    color: #67758d;
    fill: #67758d;
    stroke: #67758d;

    .secondary_label {
        @include primary-font(reguler);
        font-size: 0.875rem;
    }
}

@mixin container {
    @include make-col(4.5);
    border-right: 1px solid #f2f2f2;
    padding: 0 2rem;

    .title {
        @include primary-font(bold);
        font-size: 1.25rem;
        color: #4a4a4a;
        padding-bottom: 1rem;
    }
}

.talent_container {
    @include container();

    .age_chart {
        max-height: fit-content;
        @include make-col(6);
        padding: 0 1rem 1rem 0;
    }
    .age_container {
        @include make-row();
        flex-direction: row;
        

        .legend_container {
            @include make-col(6);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            li {
                display: flex;
                align-items: center;

                .symbol {
                    width: 1rem;
                    height: 1rem;
                    display: inline-block;
                    margin-right: 1rem;
                    flex-shrink: 0;
                }

                .range {
                    @include primary-font(reguler);
                    font-size: 0.875rem;
                }

                .diamond {
                    @include primary-font(reguler);
                    font-size: 0.75rem;
                    margin: 0 0.5rem;
                    color: #67758d;
                }

                .percentage {
                    @include primary-font(bold);
                    font-size: 0.875rem;
                    color: #4a4a4a;
                }
            }
        }
    }

}
.gender_container {
    @include make-row();
    margin-top: 2rem;

    .gender_chart {
        display: flex;
        align-items: center;

        &.female {
            padding-right: 2rem;
            border-right: 1px solid #f2f2f2;
        }

        &.male {
            padding-left: 1rem;
        }
        
        .icon {
            padding: 0 0.5rem;
        }

        .subtitle {
            @include primary-font(reguler);
            font-size: 0.875rem;
            padding-bottom: 0.3rem;
            color: #9b9b9b;
        }

        .gender_count {
            @include primary-font(semi-bold);
            font-size: 1.25rem;
            color: #67758d;
        }
    }
}

.recruiter_container {
    @include container();

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 280px;

    .half_container {
        width: 50%;
    }

    .row {
        margin-bottom: 1rem;
    }

    .symbol {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: 1rem;
    }

    .inline_block {
        display: inline-block;
    }

    .type {
        @include primary-font(reguler);
        font-size: 0.875rem;
    }

    .percentage {
        @include primary-font(bold);
        font-size: 0.875rem;
        color: #4a4a4a;
    }
}