@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.container_list {
    width: 100%;
    margin: 12px 0;
    display: flex;

    .title {
        padding: 12px 0 12px 12px;
        flex-basis: 180px;
        flex-shrink: 0;
        @include primary-font(medium);
        text-transform: capitalize;
        color: #B0B0B0;
        font-size: 1rem;
    }

    .value {
        @include primary-font(medium);
        padding: 12px;
        line-height: 20px;
        color: black;
    }
}

