.headerContainer {
  background-color: #eeeeee;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > span {
    font-family: roboto;
    color: rgba($color: #000000, $alpha: 0.85);
    font-size: 20px;
    font-weight: 500;
  }

  .filter {
    display: flex;
    align-items: center;

    .buttonExport {
      font-family: roboto;
      cursor: pointer;
      background-color: #ffffff;
      color: #000000;
      margin-right: 20px;
      padding: 15px 20px;
    }

    .inputSelect {
      width: 170px;
      margin-right: 15px;
    }
  }
}

.statusContainer {
  margin: 10px 30px;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 10px;

  .headerStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    > span {
      font-family: roboto;
      font-weight: 500;
      font-size: 16px;
    }

    .indicatorColor {
      display: flex;
      align-items: center;

      .status {
        display: flex;
        margin-left: 20px;
        align-items: center;

        .box {
          width: 16px;
          height: 16px;

          &.grey {
            background-color: #9e9e9e;
          }

          &.green {
            background-color: #0ac46b;
          }

          &.yellow {
            background-color: #fabb43;
          }

          &.red {
            background-color: #e92548;
          }
        }

        > span {
          font-family: roboto;
          font-size: 12px;
          font-weight: 400;
          margin-left: 5px;
        }
      }
    }
  }

  .progressContainer {
    padding: 20px 30px;

    .bar {
      flex: 1;
      height: 20px;
      background-color: #0ac46b;
      display: flex;
      align-items: center;
    }

    .hours {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;

      > span {
        flex: 60;
        font-family: roboto;
        font-size: 12px;
      }
    }
  }
}
