/* 
    Video component style
*/

.container{
    margin-top: 20px;
    display: flex;
    .img{
        margin-right: 10px;
        z-index: -2;
    }

    .video{
        position: relative;
        cursor: pointer;
        .play{
            position: absolute;
            z-index: 10;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }


}