/* 
  Stories Filter style
*/
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .filter {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;

        .select_input {
            width: 150px;
            margin: 8px;
        }

        .publish_date {
            margin: 8px;
        }
    }

    .add_button {
        display: flex;
        align-items: flex-start;
        padding: 8px;
    }
}


  
