/**
 * Forgot Password Page Component Style
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.cancel {
  color: #201d1d;
  margin: 33px auto;
  cursor: pointer;
  font-family: roboto;
  text-decoration: none;
  font-size: 12px;
}
