/**
 * Forgot Password Page Component Style
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.cancel {
    color: #00aeef;
    margin: 33px auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 0.9rem;
}