@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';
// @import 'src/styles/bs/bootstrap-grid';

.nav_container {
    // display: flex;
    // flex-direction: column;
    padding: 2rem !important;
    // position: sticky;
    // top: 0;
    margin: 0 !important;
    // height: 100px;
    background-color: white;

    @include respond-to(sm) {
        @include make-col(12);
    }
    @include respond-to(md) {
        @include make-col(12);
    }
    @include respond-to(lg) {
        @include make-col(2);
    }
    @include respond-to(xl) {
        @include make-col(2);
    }
}

.title_container {
    display: flex;
    flex-direction: row;

    &::after {
        flex-grow: 1;
        height: 100%;
    }

    @include respond-to(lg) {
        @include make-row();
    }
}

.title {
    color: #00aeef;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    user-select: none;
    cursor: default;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;

    &::after {
        content: '';
        background-color: #00aeef;
        width: 100%;
        height: 3px;
        margin-top: 0.5rem;
    }
}

.link_container {
    @include respond-to(sm) {
        @include make-row();
    }
    @include respond-to(md) {
        @include make-row();
    }
    @include respond-to(lg) {
        @include make-row();
    }
}

.link {
    color: rgba($color: #000000, $alpha: 0.5);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    height: 5%;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: row;

    @include respond-to-lower(lg) {
        @include make-col(3);
    }

    @include respond-to-upper(lg) {
        @include make-col(12);
        &.selected::after {
            content: '';
            flex-grow: 1;
            height: 1.5rem;
            background-image: url('../../../assets/chevron_right_blue.svg');
            background-position: right;
            background-repeat: no-repeat;
        }
    }

}

.selected {
    color: #00aeef !important;
    font-weight: 700 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem;
    user-select: none !important;
    cursor: default !important;
}