.container {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .lineContainer {
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex-grow: 1;

    .header {
      width: 100%;
      padding: 1rem 2rem 0;
      display: flex;

      .dataWrapper {
        margin-right: 50px;
        > span {
          color: #757575;
          font-family: roboto;
          font-size: 1.5rem;
          line-height: 24px;
          margin-bottom: 5px;
        }

        > h1 {
          color: #212121;
          font-size: 2rem;
          font-family: roboto;
          font-weight: 500;
          margin: 0px;

          &.type {
            text-transform: uppercase;
          }

          &.status {
            color: #ffffff;
            border-radius: 100px;
            padding: 4px 14px;
            font-size: 28px;
            width: fit-content;
          }
        }
      }
    }

    .chartContainer {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: stretch;
      justify-content: space-between;
      flex-grow: 1;

      .chart {
        flex: 1;
        min-height: 80%;
      }
    }
  }
}
