@import 'src/styles/variable';
@import 'src/styles/mixin';
@import 'src/styles/function';

.value_container {
    display: flex;
    width: calc(100% - 1px);
    align-items: center;
    position: relative;

    .value {
        width: calc(100% - 36px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 2px;
    }

    .count {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $primary_color;
        color: white;
        display: flex;
        align-items: center;
        margin-left: 15px;
        @include primary-font(bold);

        span {
            margin: 0 auto;
        }
    }
}